---
http_interactions:
- request:
    method: get
    uri: http://www.pegelonline.wsv.de/webservices/rest-api/v2/stations.json?ids=728bd3e3-23f2-41c6-8ac5-4cfa223a5a7e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - "\"878df1fdda9ab1ad181b2c644efecb4259a0c1c40976874e32832cc5a75c3797\""
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "uuid": "728bd3e3-23f2-41c6-8ac5-4cfa223a5a7e",
            "number": "90100111",
            "shortname": "UELZEN OW",
            "longname": "UELZEN OW",
            "km": 60.38,
            "agency": "WSA UELZEN",
            "longitude": 10.614719701462517,
            "latitude": 52.90933657890343,
            "water": {
              "shortname": "ESK",
              "longname": "ELBESEITENKANAL"
            }
          }
        ]
      effective_url: http://www.pegelonline.wsv.de/webservices/rest-api/v2/stations.json?ids=728bd3e3-23f2-41c6-8ac5-4cfa223a5a7e
  recorded_at: Thu, 01 May 2014 15:51:55 GMT
recorded_with: VCR 2.9.0
