---
http_interactions:
- request:
    method: get
    uri: http://www.pegelonline.wsv.de/webservices/rest-api/v2/stations.json?ids=Koblenz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - "\"2e4c76070514aaddb45be8d33ebf939b15136ffeb97631d7c949932b37765437\""
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "uuid": "4c7d796a-39f2-4f26-97a9-3aad01713e29",
            "number": "25900700",
            "shortname": "Koblenz",
            "longname": "KOBLENZ",
            "km": 591.49,
            "agency": "WSA BINGEN",
            "longitude": 7.60474054165621,
            "latitude": 50.35863947564839,
            "water": {
              "shortname": "RHEIN",
              "longname": "RHEIN"
            }
          }
        ]
      effective_url: http://www.pegelonline.wsv.de/webservices/rest-api/v2/stations.json?ids=Koblenz
  recorded_at: Fri, 16 May 2014 19:32:48 GMT
recorded_with: VCR 2.9.0
