---
http_interactions:
- request:
    method: get
    uri: http://www.pegelonline.wsv.de/webservices/rest-api/v2/stations.json?fuzzyId=Elbe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - "\"8cb804eade5b62cdaeb265f12267e2936e620ca7b1f66a57408c540b89b161ff\""
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "uuid": "bb6fd2f0-458a-4ea5-aa58-e1c1a2fbd56d",
            "number": "502475",
            "shortname": "HAVELBERG EP",
            "longname": "HAVELBERG EP",
            "km": 147.305,
            "agency": "WSA BRANDENBURG",
            "longitude": 12.053033291476808,
            "latitude": 52.83374515518998,
            "water": {
              "shortname": "UHW",
              "longname": "UNTERE HAVEL-WASSERSTRASSE"
            }
          },
          {
            "uuid": "ce086a21-29c2-444c-b53d-f3b70b086b2f",
            "number": "580800",
            "shortname": "HAVELBERG UP",
            "longname": "HAVELBERG UP",
            "km": 146.89,
            "agency": "WSA BRANDENBURG",
            "longitude": 12.057095253478064,
            "latitude": 52.830993541010926,
            "water": {
              "sh[...]
